<a href="/robots">Back to Robots!</a>

<h3><%= @robot.name %></h3>
<p><%= @robot.city %></p>
<p><%= @robot.state %></p>
<p><%= @robot.avatar %></p>
<p><%= @robot.birthdate %></p>
<p><%= @robot.date_hired %></p>
<p><%= @robot.department %></p>
